body {
    margin: 0 auto;
    margin-top: 100px;
    width: 500px;
    height: 90px;
    font-size: 40px;
    font-family: Ebrima, "sans-serif"; /*Noto Sans нету(*/

}

.canvas {
    display: block;
    margin: 0 auto;
    margin-bottom: -45px;
    width: 800px;
}

.example {
    display: flex;
    justify-content: center;
    padding: 150px;
}

.sprite {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    width: 490px;
    height: 50px;
}

.first_input {
    position: absolute;
    height: 30px;
    width: 30px;
    font-size: 40px;
}

.first_input[type="text"]:disabled {
    border: none;
    background-color: transparent;
    color: black;
}

.error {
    color: red;
}

.div_error {
    background-color: #fba84a;
    border-radius: 4px;
}

.SUM {
    padding: 0;
    width: 70px;
    font-size: 40px;
}

.SUM[type="text"]:disabled {
    border: none;
    background-color: white;
    color: black;
}

.container {
    position: relative;
    margin: 0 auto;
}


  